.dir_hr {
	display:none;
}
.directory_block {
	display:grid;
}
.url_box {
	height: 0;
}
.letter_title {
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}
.favorite_icon, .remove {
	float: left;
	left:15px;
	width: 0;
	margin-left: auto;
  margin-right: auto;
  margin-top: -12px;
}
.book_icon {
    font-size: 26px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    float: left;
    margin-top: -10px;
}
.favorite, .finance, .design, .environmental, .game, .media, .medical, .network, .productivity, .web {
	border:none;
	background:none;
	height:30px;
	box-shadow: unset;
	margin: unset;
	left: -15px;
	backdrop-filter: unset;
}
.tip {
  text-align: left;
  width: 300px;
}
.tipr_content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius:3px;
}
.tipr_container_below {
  top: -10px !important;
  left: -130px !important;
}
.favorite:hover, .finance:hover, .design:hover, .environmental:hover, .game:hover, .media:hover, .medical:hover, .network:hover, .productivity:hover, .web:hover {
	color:#fff;

}
