@media screen and (min-width:550px) {
.dir_hr {
	display:none;
}
.directory_block {
	display:grid;
}
.url_box {
	height: 0;
}
.letter_title {
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}
.favorite_icon, .remove {
	float: right;
	left:15px;
	width: 0;
	margin-left: auto;
  margin-right: auto;
  margin-top: -9px;
}
.book_icon {
    font-size: 20px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    float: left;
    margin-top: -10px;
}
.bookmark_box:hover {
	font-style: italic;
}
.category_1, .category_2, .category_3, .category_4, .category_5, .category_6, .category_7, .category_8, .category_9, .category_10 {
	border:none;
	background:none;
	height:30px;
	box-shadow: unset;
	margin: unset;
	left: -15px;
	backdrop-filter: unset;
}
.category_1:hover, .category_2:hover, .category_3:hover, .category_4:hover, .category_5:hover, .category_6:hover, .category_7:hover, .category_8:hover, .category_9:hover, .category_10:hover  {
	color:#fff;
}
.tip {
  text-align: left;
  width: 300px;
}
.tipr_content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius:3px;
}
.tipr_container_below {
  top: -10px !important;
  left: -130px !important;
}
}
